{% extends "base.html" %} {% block title %}About{% endblock %} {% block content
%}
<h1 style="text-align: center">Find out more about us!</h1>

<div
  style="text-align: center; border: 6px solid royalblue; margin-bottom: 10px"
>
  <h2 style="color: blue">
    You can freely navigate our web application using your head movement and
    eyes.
  </h2>
  <h3>If you wish to click on something simply wink using your left eye!</h3>
  <h4>Try the button below!</h4>
  <button onclick="showAlert()" style="background-color: red; border-radius: 5px; font-size: 30px; margin-bottom: 5px;">Click Me</button>
</div>
<script>
  function showAlert() {
    var myText = "Yes!!! You clicked me!";
    alert(myText);
  }
</script>

{% endblock %}
