{% extends "base.html" %} {% block title %}HeadMouseWeb - About Us{% endblock %}
{% block content %}

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='about.css') }}"
/>

<div class="about-page-container">
  <h2>About HeadMouse Web</h2>
  <p>
    HeadMouse Web is a web application designed for people with spinal cord
    injuries who have limited mobility and may not be able to use a traditional
    mouse and keyboard to navigate YouTube. The application uses head and eye
    movements to control the interface, allowing users to browse, search for,
    and play videos with ease.
  </p>
  <h2>How it Works</h2>
  <p>
    HeadMouse Web uses computer vision technology to track the user's head and
    eye movements. The user does not have to wear any special headset or
    anything like that, but instead they just need a laptop or a computer that
    has a camera. The camera then captures the movements of the head and eyes
    and translates them into on-screen actions. The interface is designed to be
    simple and intuitive, with large, easy-to-see buttons and clear visual cues.
  </p>
  <h2>Proof of Concept</h2>
  <p>
    Our proof of concept uses YouTube as the primary platform to demonstrate the
    capabilities of HeadMouse Web. Users can search for videos, play and pause
    them, and control the volume and playback speed, all with just their head
    and eye movements. The application also includes features like
    auto-scrolling, so that users can easily browse through long lists of search
    results.
  </p>
</div>

{% endblock %}
