{% extends "base.html" %} {% block title %}HeadMouseWeb - Change Password{% endblock %} {% block
content %}

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='changePassword.css') }}"
/>

<h1>Change Password</h1>
<form method="POST">
  <h3 aling="center">Change</h3>

  <div class="form-group">
    <label class="required" for="currentPassword">Current Password</label>
    <input
      type="password"
      name="currentPassword"
      class="form-control use-keyboard-input"
      id="currentPassword"
      placeholder="Current Password"
      required
    />
  </div>

  <div class="form-group">
    <label class="required" for="newPassword">New Password</label>
    <input
      type="password"
      name="newPassword"
      class="form-control use-keyboard-input"
      id="newPassword"
      placeholder="New Password"
      required
    />
  </div>

  <div class="form-group">
    <label class="required" for="confirmNewPassword"
      >Confirm New Password</label
    >
    <input
      type="password"
      name="confirmNewPassword"
      class="form-control use-keyboard-input"
      id="confirmNewPassword"
      placeholder="Confirm New Password"
      required
    />
  </div>

  <br />
  <button type="submit" class="btn btn-primary">Change Password</button>
</form>

{% endblock %}
