{% extends "base.html" %} {% block title %}HeadMouseWeb - Change Password{%
endblock %} {% block content %}

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='changePassword.css') }}"
/>

<div class="changePassword-form-container">
  <form class="changePassword-form" method="POST">
    <h3>Change Password</h3>
    <hr />
    <div class="form-group">
      <label class="required" for="currentPassword">Current Password</label>
      <div class="password-wrapper">
        <input
          type="password"
          name="currentPassword"
          class="form-control use-keyboard-input"
          id="currentPassword"
          placeholder="Current Password"
          required
        />
        <span class="password-toggle-icon"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="required" for="newPassword">New Password</label>
      <div class="password-wrapper">
        <input
          type="password"
          name="newPassword"
          class="form-control use-keyboard-input"
          id="newPassword"
          placeholder="New Password"
          required
        />
        <span class="newPassword-toggle-icon"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="required" for="confirmNewPassword"
        >Confirm New Password</label
      >
      <div class="password-wrapper">
        <input
          type="password"
          name="confirmNewPassword"
          class="form-control use-keyboard-input"
          id="confirmNewPassword"
          placeholder="Confirm New Password"
          required
        />
        <span class="confirmNewPassword-toggle-icon"></span>
      </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Change Password</button>
    <div>
      <a class="btn btn-primary" href="{{ url_for('views.userProfile') }}"
        >Cancel</a
      >
    </div>
  </form>
</div>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='changePassword.js') }}"
></script>
{% endblock %}
