{% extends "base.html" %} {% block title %}HeadMouseWeb - Login{% endblock %} {%
block content %}

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='login.css') }}"
/>

<div class="login-form-container">
  <form class="login-form" method="POST">
    <h3>Login Form</h3>
    <div class="form-group">
      <label class="required" for="email">Email address</label>
      <input
        type="email"
        name="email"
        class="form-control use-keyboard-input"
        id="email"
        placeholder="Email"
        required
      />
    </div>

    <div class="form-group">
      <label class="required" for="password">Password</label>
      <div class="password-wrapper">
        <input
          type="password"
          name="password"
          class="form-control use-keyboard-input"
          id="password"
          placeholder="Password"
          required
        />
        <span class="password-toggle-icon"></span>
      </div>
    </div>
    <br />
    <button type="submit" class="">Login</button>
    <div>
      <a href="{{ url_for('auth.register') }}">Don't have an account?</a>
      <a href="{{ url_for('auth.requestResetPassword') }}">Forgot Password?</a>
    </div>
  </form>
</div>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='login.js') }}"
></script>
{% endblock %}
