{% extends "base.html" %} {% block title %}HeadMouseWeb - Register{% endblock %}
{% block content %}

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='register.css') }}"
/>

<div class="register-form-container">
  <form class="register-form" method="POST">
    <h3>Register Form</h3>
    <hr />
    <div class="form-group">
      <label class="required" for="firstname">First Name</label>
      <input
        type="text"
        name="firstName"
        class="form-control use-keyboard-input"
        id="firstName"
        placeholder="First Name"
        required
      />
    </div>

    <div class="form-group">
      <label class="required" for="lastname">Last Name</label>
      <input
        type="text"
        name="lastName"
        class="form-control use-keyboard-input"
        id="lastName"
        placeholder="Last Name"
        required
      />
    </div>

    <div class="form-group">
      <label class="required" for="email">Email address</label>
      <input
        type="email"
        name="email"
        class="form-control use-keyboard-input"
        id="email"
        placeholder="Email"
        required
      />
    </div>

    <div class="form-group">
      <label class="required" for="password">Password</label>
      <div class="password-wrapper">
        <input
          type="password"
          name="password"
          class="form-control use-keyboard-input"
          id="password"
          placeholder="Password"
          required
        />
        <span class="password-toggle-icon"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="required" for="password2">Confirm Password</label>
      <div class="password2-wrapper">
        <input
          type="password"
          name="password2"
          class="form-control use-keyboard-input"
          id="password2"
          placeholder="Confirm Password"
          required
        />
        <span class="password2-toggle-icon"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="required" for="country">Country</label>
      <select
        id="country"
        name="country"
        class="form-countries"
        required
      ></select>
    </div>

    <div class="form-group">
      <label class="required" for="gender">Gender</label>
      <select name="gender" id="gender" required>
        <option value="">-Select Gender-</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
    </div>

    <br />
    <button type="submit" class="btn btn-primary" name="submitRegister">Register</button>
    <div>
      <a class="redirect-links" href="{{ url_for('auth.login') }}">Already have an account?</a>
    </div>
  </form>
</div>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='register.js') }}"
></script>
{% endblock %}
