{% extends "base.html" %} {% block title %}HeadMouseWeb - Reset Password{%
endblock %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='resetPassword.css') }}"
/>

<div class="resetPass-form-container">
  <form class="resetPass-form" method="POST">
    <h3>Reset Password</h3>
    <hr />
    <div class="form-group">
      <label class="required" for="password">Password</label>
      <div class="password-wrapper">
        <input
          type="password"
          name="password"
          class="form-control use-keyboard-input"
          id="password"
          placeholder="Password"
          required
        />
        <span class="password-toggle-icon"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="required" for="confirm_password">Confirm Password</label>
      <div class="password-wrapper">
        <input
          type="password"
          name="confirm_password"
          class="form-control use-keyboard-input"
          id="confirm_password"
          placeholder="Confirm Password"
          required
        />
        <span class="confirm_password-toggle-icon"></span>
      </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit Password</button>
  </form>
</div>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='resetPassword.js') }}"
></script>
{% endblock %}
