{% extends "base.html" %} {% block title %}YouTube{% endblock %} {% block
content %}

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
  crossorigin="anonymous"
/>

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='youtube.css') }}"
/>

<div class="page-container">
  <header class="youtube-header">
    <img src="../static/images/youtubeLogo.png" alt="" class="yt-logo" />
  </header>
  <form id="form">
    <div class="form-group">
      <input type="text" class="form-control use-keyboard-input" id="search" />
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-danger" value="Search" />
    </div>
  </form>
  <button onclick="startVideo()">Start</button>
  <button onclick="pauseVideo()">Stop</button>
  <section id="video"></section>
  <main></main>
</div>

<!-- <script src="https://www.youtube.com/iframe_api"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='youtube.js') }}"
></script>

{% endblock %}
