{% extends "base.html" %} {% block title %}YouTube{% endblock %} {% block
content %}

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
  crossorigin="anonymous"
/>

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='youtube.css') }}"
/>

<div class="page-container">
  <header class="youtube-header">
    <img src="../static/images/youtubeLogo.png" alt="" class="yt-logo" />
  </header>
  <form id="form">
    <div class="form-group">
      <input
        type="text"
        class="form-control use-keyboard-input"
        id="search"
      />
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-danger" value="Search" />
    </div>
  </form>
  <button id="rwnd" disabled>Rewind 10 sec</button>
  <button id="fwrd" disabled>Forward 10 sec</button>
  <button id="pause" disabled>Pause Video</button>
  <button id="play" disabled>Play Video</button>
  <button id="mute" disabled>Mute Video</button>
  <button id="unMute" disabled>Unmute Video</button>
  <button id="volumeUp" disabled>Volume Up</button>
  <button id="volumeDown" disabled>Volume Down</button>
  <button id="slowerVideo" disabled>Slow Down</button>
  <button id="normalSpeed" disabled>Normal Speed</button>
  <button id="fasterVideo" disabled>Speed Up</button>
  <!-- <button id="playNext">Next Video</button> -->
  <iframe
    class="ytVideo"
    id="existing-iframe"
    width="1200"
    height="500"
    src="https://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&showinfo=0&controls=0&enablejsapi=1&origin:http://127.0.0.1:5000"
    allow="autoplay; encrypted-media"
  ></iframe>
  <div id="videoDuration"></div>
  <div id="liveVideoTime"></div>
  <main class="yt"></main>
</div>

<script src="https://www.youtube.com/iframe_api"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.6.3.js"
  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='youtube.js') }}"
></script>

{% endblock %}
