body{
  background-color: #f5f5f5;
}
.about-page-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-top: 20px;
  font-weight: bold;
}

.images-container {
  position: relative;
  height: 350px;
  overflow: hidden;
  width: 650px;
  border-radius: 10px;
  margin: 0 auto;
}
.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
  margin: 0 auto;
}
.carousel-slide img {
  flex: 1 0 100%;
  width: 650px;
  height: 400px;
  object-position: 50% 0%;
  object-fit: cover;
  margin: 0 auto;
}

.image-holder {
  width: 600px;
  margin: 0 auto;
}

.image-holder img {
  width: 600px;
  margin: 0 auto;
}

.image-face-holder {
  width: 300px;
  margin: 0 auto;
}

.image-face-holder img {
  width: 300px;
  margin: 0 auto;
}
