.required:after {
  content: "*";
  color: red;
}

body {
  background-image: url("../static/images/login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.changePassword-form-container {
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.changePassword-form {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.5);
  margin: 50px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.3);
}

.changePassword-form-container .form-group {
  margin-bottom: 15px;
}

.changePassword-form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.changePassword-form-container input[type="password"] {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-size: 20px;
  font-family: inherit;
}

.changePassword-form input:focus {
  border: 2px solid blue;
}

.changePassword-form-container button[type="submit"],
.changePassword-form-container a {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #004d99;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.changePassword-form button[type="submit"]:hover,
.changePassword-form a:hover {
  background-color: #c1f0f0;
  color: black;
  box-shadow: 0 0 5px 1px #004d99;
}

.changePassword-form-container a {
  margin-top: 10px;
  text-decoration: none;
}

.changePassword-form h3 {
  margin-top: 0;
  text-align: center;
}

.changePassword-form {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.5);
  margin: 50px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.3);
}

.password-wrapper {
  position: relative;
}

.password-toggle-icon,
.newPassword-toggle-icon,
.confirmNewPassword-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background-image: url("../static/images/hide-icon.jpg");
  background-size: contain;
  cursor: pointer;
}

.changePassword-form hr {
  background-color: black;
}

@media (max-width: 768px) {
  .changePassword-form-container {
    width: 80%;
  }
}
