.required:after {
  content: "*";
  color: red;
}

body {
  background-image: url("../static/images/login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.editDetails-form-container {
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.editDetails-form {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.5);
  margin: 50px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.3);
}

.editDetails-form h3 {
  margin-top: 0;
  text-align: center;
}

.editDetails-form .form-group {
  margin-bottom: 15px;
}

.editDetails-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.editDetails-form input[type="text"],
.editDetails-form input[type="email"],
.editDetails-form input[type="password"],
.editDetails-form select {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-size: 20px;
  font-family: inherit;
}

.editDetails-form input:focus,
.editDetails-form select:focus {
  border: 2px solid blue;
}

.editDetails-form button[type="submit"],
.editDetails-form-container a {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #004d99;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.editDetails-form button[type="submit"]:hover,
.editDetails-form-container a:hover {
  background-color: #c1f0f0;
  color: black;
  box-shadow: 0 0 5px 1px #004d99;
}

.editDetails-form-container a {
  margin-top: 10px;
  text-decoration: none;
}



.editDetails-form a {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.editDetails-form .form-group option {
  font-size: 30px;
}

.editDetails-form hr {
  background-color: black;
}